doctype html 
html 
    head 
        title= "Dance Website"
        block style 
    body 
        nav#navbar
            ul
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/contact") Contact Us]

        block content 

        footer
            p Copyright DanceAcademy.com | All Rights Reserved
        
        block script

